{
    "extends": "airbnb-base",
    "rules": {
        "comma-dangle": [2, "never"],
        "space-before-function-paren": [2, "never"],
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": true}]
    },
    "env": {
        "mocha": true
    }
}
